<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classification</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Plant Image Classification</h1>
    <form method="post" action="/classify" enctype="multipart/form-data">
        <label for="image">Upload Image:</label>
        <input type="file" id="image" name="image" accept=".jpg, .jpeg, .png" required>
        <br>
        <button type="submit">Classify Image</button>
    </form>
    <div class = "wrapper">
    <div classe = "image-container">
    {% if uploaded_image_url %}
    <h2>Uploaded Image:</h2>
    <img src="{{ uploaded_image_url }}" alt="Uploaded Image" style="max-width: 300px; max-height: 300px;">
    {% endif %}
    </div>

    <div class = "result-container">
    {% if result %}
        <h2>Result:</h2>
        <ul>
            {% for label, confidence in result %}
                <li>{{ label }}: {{ confidence }}%</li>
            {% endfor %}
        </ul>
      
    {% endif %}
    </div>  
    </div>
</body>
</html>